/*堀
######################################################################
File: "page.module.css".
On nepi40 : (*home-common="/cygdrive/g/home2/"):
(concat *home-common 
  "neon_postgres_241226/013/nextjs-blog2/app/comments/add3/"
  "page.module.css")
By Horita.
On (2025 Mar 5).
######################################################################
*/
.main{
  line-height:2.5;
}
/*======================================================================*/
.headingP{
  font-size:24px;
  color:blue;
}
/*======================================================================*/
.h2A{
  margin-top:10px;
}
/*======================================================================*/
.form1{
  border:#000000 1px solid; 
  padding:20px; 
  font-size:18px;
  background-color:#f8f8f8;
  width:50rem;
}
/*======================================================================*/
.inp1{
  margin-top:10px;
  font-size:18px;
  padding:8px;
}
/*======================================================================*/
.btn1{
	margin-top:10px;
  font-size:18px;
  font-weight:500;
  padding:10px 30px;
  background-color:#ffefa0;
  border-radius:15px;
}
/*======================================================================*/
